@import './App.scss';


.weather{
  grid-area: weather;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid $primary;
  height: 100%;
  h2{
    background-color: $primary;
    padding: .3rem 0 .3rem 1.5rem;
  }
  article{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}